nav {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 740px) {
  nav {
    flex-direction: column;
    font-size: 4em;
  }
}
div {
  padding: 7px;
  flex: 1 1 auto;
  text-align: center;
}

.header:hover {
  background-color: green;
}

footer {
  background-color: gold;
  color: navy;
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 740px) {
  footer {
    flex-direction: column;
    font-size: 4em;
  }
}

section {
  display: grid;
}

.entraineur {
  grid-row-start: 1;
}

.gardien {
  grid-row-start: 2;
}

.defenseurs {
  grid-row-start: 3;
}

.milieux {
  grid-row-start: 4;
}

.attaquants {
  grid-row-start: 5;
}
