nav {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 740px) {
  nav {
    flex-direction: column;
  }
}
div {
  padding: 7px;
  flex: 1 1 auto;
  text-align: center;
}
div:hover {
  background-color: gold;
}
